<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Menu" >
    <id column="id" property="id" />
    <result column="text" property="text" />
    <result column="url" property="url" />
    <!--权限-->
    <association property="permission" javaType="cn.wolfcode.crm.domain.Permission" column="permission_id"
                 select="cn.wolfcode.crm.mapper.PermissionMapper.selectByPrimaryKey" />
    <!--封装子菜单集合-->
    <collection property="children" ofType="cn.wolfcode.crm.domain.Menu" column="id" select="getChildrenMenu"></collection>
  </resultMap>

  <!--查询子菜单-->
  <select id="getChildrenMenu" resultMap="BaseResultMap">
    select * FROM  menu WHERE parent_id = #{id}
  </select>

  <!--查询根菜单-->
  <select id="getRootMenu" resultMap="BaseResultMap">
      select * FROM  menu WHERE parent_id is NULL
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `menu`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.crm.domain.Menu" useGeneratedKeys="true" keyProperty="id" >
    insert into `menu` (text, url, parent_id)
    values (#{text}, #{url}, #{parent.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm.domain.Menu" >
    update `menu`
    set text = #{text},
      url = #{url},
      parent_id = #{parent.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, text, url, parent_id
    from `menu`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, text, url, parent_id
    from `menu`
  </select>


  <select id="selectByPrentIdKey" resultMap="BaseResultMap">
    SELECT * FROM menu where parent_id=#{id}
  </select>
</mapper>