<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.UnitMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Unit">
    <id column="id" property="id" />
    <result column="name" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from `unit`
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into `unit` (name)
    values (#{name})
  </insert>
  <update id="updateByPrimaryKey">
    update `unit`
    set name = #{name}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name
    from `unit`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from `unit`
  </select>
</mapper>